<table border="1" cellspacing="4">
    <tr>
        <td rowspan="3">No.</td>
        <td rowspan="3">Nama Sekolah</td>
        <td colspan="4">Tahun</td>
    </tr>
    <tr>
        <td rowspan="2">Masuk</td>
        <td rowspan="2">Lulus</td>
        
    </tr>
    <tr>
        <td>1</td>
        <td>Nama TK</td>
        <td>90</td>
        <td>85</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Nama SD</td>
        <td>88</td>
        <td>92</td>
 
    </tr>
    <tr>
        <td>3</td>
        <td>Nama SMP</td>
        <td>90</td>
        <td>85</td>

    </tr>
    <tr>
        <td>4</td>
        <td>Nama SMA</td>
        <td>90</td>
        <td>85</td>

    </tr>
    <tr>
        <td>5</td>
        <td>Nama Perguruan Tinggi</td>
        <td>90</td>
        <td>85</td>

</table>
