<form enctype="multipart/form-data" action="upload.php" method="post">
    Choose a file to upload: 
    <input name="uploadedfile" type="file" /> <br>
    <input type="submit" value="Upload File" />
  </form>
  
  